header {
  text-align: center; 
  font-size: 25pt;
}

body {
  color: #022601;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}
#img {
  float: left; 
  margin-top: auto; 
  margin-right: 35pt;
}

#why {
  text-align: justify;
  margin-top: 150pt;
}
#next- {
  margin-left: 70%; 
}

#box {
  font-size: 15pt;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 6px;
  background: rgb(141, 240, 154);
  width: 100%;
  box-shadow: 5px 5px 10px rgb(73, 122, 79);
  border-radius: 10px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20px;
  font-size: large;
  background-color: #58b855;
  color: #022601;
}
.card {
  background-color: #58b855;
  color: #022601;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.651);
  text-transform: uppercase;
}

#repo-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin: 180px;
}
